html {
  scroll-behavior: smooth;
}
body {
  background: radial-gradient(
      circle at center,
      rgba(44, 62, 80, 0.8) 0%,
      rgba(0, 0, 0, 0.9) 70%
    ),
    radial-gradient(circle at top left, rgba(0, 0, 50, 0.8), transparent),
    radial-gradient(circle at bottom right, rgba(72, 61, 139, 0.5), transparent);
  background-color: #a51818;
  background-blend-mode: overlay;
  color: white;
  font-family: "Poppins", sans-serif;
}
h1 {
  color: #eef1f9;
}
p.description {
  color: #d0d3da;
}
